.full-screen {
	height: 100vh;
	min-height: 500px;
	background-image: url('background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-overlay {
	background: rgba(0,0,0,0.37);
}